#abc,#cde
{
    background-image: url('https://t4.ftcdn.net/jpg/01/40/61/13/240_F_140611385_93RysuCd5YNMy8pxtk3btYazu1cGUJ1U.jpghttps://t3.ftcdn.net/jpg/01/57/16/78/240_F_157167850_C8MN16DXyxNmJGvqlLJZm4pcO9DCwImy.jpghttps://t4.ftcdn.net/jpg/03/04/00/21/240_F_304002106_kRXVfnFE9BSX0Jw9qt7zU6lOfgO7HZjr.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border:1px solid red;
    height: 600px;
    
    
}